<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

  <a class="navbar-brand" href="#">Todo List - PayMe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav navbar-left mr-auto">
      <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" style='cursor:pointer' [routerLink]="['/']"> Home <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf='userApi.authGuard()' class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" style='cursor:pointer' [routerLink]="['profile']"> Profile <span class="sr-only"></span></a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf='!userApi.authGuard()' class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" style='cursor:pointer' [routerLink]="['login']"><strong> Login </strong></a>
      </li >
      <li *ngIf='!userApi.authGuard()' class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link " style='cursor:pointer' [routerLink]="['register']" tabindex="-1" aria-disabled="true">Register</a>
      </li>
      <li *ngIf='userApi.authGuard()' class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
         <a class="nav-link " style='cursor:pointer'
        (click)='handleSignout()'
        >Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
 